.calculator{

    width:15%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: grey;
    margin-left:30%;
    margin-top: 1%;
   
}
.B2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#data{
    width: 80%;
    margin-left: 8%;
    font-size: 300%;
    margin-top: 2%;
    border-radius: 5px;
}
.b1{
    width: 32%;
    height: 50px;
    margin: 0.5%;
    border-radius: 5px;
    font-size: 25px;
}
.b1:active{
    background-color:skyblue;
}

@media screen and (max-width:600px){
    .calculator{

    width:25%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: grey;
    margin-left:10%;
    margin-top: 0.5%;
   
}
.B2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#data{
    width: 80%;
    margin-left: 7%;
    font-size: 90%;
    margin-top: 2%;
    border-radius: 5px;
}
.b1{
    width: 20%;
    height: 25px;
    margin: 0.5%;
    border-radius: 5px;
    font-size: 7px;
    text-align: center;
}
.b1:active{
    background-color:skyblue;
}

}
